.textAreaHolder {
  padding: 0;
  font-size: 16px;
  color: #004458;
  margin: 10px 0 20px;
  text-align: right;
}

.textAreaHolder > label {
  width: 100%;
  font-family: shabbold;
}

.textAreaHolder > .answerCommentTextArea {
  min-height: 115px;
}

.textAreaHolder > .sendCommentTextArea {
  min-height: 180px;
  background: rgba(0, 68, 88, 0.1);
}

.textAreaHolder > .siteAnswerCommentTextArea {
  min-height: 250px;
  background: #f1f1f1;
}

.textAreaHolder > textarea {
  width: 100%;
  min-height: 200px;
  border: none;
  background: #f1f1f1;
  color: #004458;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.textAreaHolder > textarea:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.textAreaHolder > textarea::placeholder {
  color: #004458;
  opacity: 0.5;
}

.errorStyle {
  color: red;
  border-top: 3px solid red;
  font-size: 16px;
  padding: 15px 10px;
  margin-bottom: 20px;
  background: rgba(255, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}

/* Responsive  */
@media only screen and (max-width: 767px) {
  .textAreaHolder > label {
    font-size: 14px;
  }
  .textAreaHolder > textarea::placeholder {
    font-size: 14px;
  }
}
