/* .inputHolder {
  height: 450px;
  border: 1px solid red;
} */

.linkStyle {
  text-decoration: none;
  width: 100px;
  color: #004458;
  padding: 0;
}
.linkStyle:hover {
  color: #004458;
  text-decoration: underline;
}

.login {
  width: 80px;
  height: 30px;
  position: relative;
  /* top: 12px; */
  left: 30px;
}

/* Responsive */
@media only screen and (max-width: 767px) {
  .login {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    top: 0;
    left: 0;
    display: block;
  }
}
