.form-group {
  height: auto;
  margin-bottom: 20px;
}

.form-group > label {
  display: none;
}

.form-group > div > .DatePicker {
  width: 100%;
  height: 57px;
}

.form-group > div > .DatePicker > input {
  width: 100%;
  height: 100%;
  background: #f1f1f1 url(../../Assets/Images/Banner/Calendar.png) no-repeat;
  background-position: 5% 50%;
  background-size: 22px;
  border: none;
  direction: rtl !important;
  padding-right: 11px;
  cursor: pointer;
  color: #004458;
}

.form-group > div > .DatePicker > input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-group > div > .DatePicker > input::placeholder {
  color: #004458;
  font-family: shab;
  opacity: 1;
}

.form-group > div > p {
  font-family: shab;
  text-align: right;
  color: red;
  border-top: 3px solid red;
  font-size: 16px !important;
  padding: 15px 10px !important;
  margin-bottom: 20px;
  background: rgba(255, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}
